.form-label {
    text-align: left;
    font-size: 24px;
    padding-left: 8px;
}

.v_register input{
    padding: 5px 10px;
    margin: 5px 0px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid gray;
    outline: none;
}

.card{
    border-top-right-radius:13px ;
    border-top-left-radius: 13px;
    width: 100%;
    height: 550px;
    margin: 0 auto;
}

.eventaddForm input,textarea{
    padding: 10px;
    width: 70%;
    margin: 10px 5px;
}
.selected{
    color:rgb(12, 160, 160);
}
.card-img{
    height: 296px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius:13px ;
    border-top-left-radius: 13px;
}
.login-width{
    width:500px
}
.btn-width{
    width: 60%;
}
.v_width{
    width: 55%;
}
.headerImg{
    width: 50%;
}

/*----------------------- simple response --------------------------- */
@media only screen and (max-width:768px){
    .login-width{
    width:100%;
}
.btn-width{
    width: 70%;
    font-size:13px
}
.v_width{
    width: 90%;
}
.eventaddForm input,textarea{
    padding: 10px;
    width: 100%;
    margin: 10px 5px;
}
.headerImg{
    width: 100%;
}
}